body {
    background-color: rgb(62, 62, 55);
    color: antiquewhite;
}
h1.Heading {
    text-decoration: underline;
}

div {
    border: radius 50px;
    padding: 50px; 
}
a[href*="http"] {
    color:aqua
}
div.glass {
    border-style: dashed;
    border-width: 20px;
    
}
div.club { 
    border-style: dashed;
    border-width: 20px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }