/*All Pages*/

ul.directory {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3f2a2a;
    
}
body {
    background-color: rgb(62, 62, 55);
    color: antiquewhite;
}

footer {
    color:aqua;
	bottom: 0;
	height: 100px;
	width: 100%;
    float: right;
}
/*Authors Page*/

.container {
    display: flex;
    align-items: flex-start;
}
img.author {
    border-radius: 50%;
    object-position: relative;
    width:100%;
    float: left;
    overflow: hidden;
    animation: slide-right 5s;
    color: aqua;
}
@keyframes slide-right {
    from {
    margin-left: 100%;}
}
to {
    margin-left: 0%;

}
hr {
    width:100px;
    color: aqua;
}
section {
    width:100%;
    overflow: hidden;
    animation: slide-right 10s
}
@keyframes slide-right {
    from {
    margin-left: 100%;}
}
to {
    margin-left: 0%;

}
hr {
    width:100px;
    color: aqua;
}



/*Index*/
img.headshot {
    border-radius:50%;
    mask-border-width: 50%;
    top: 0;
    float: left;
    top: 100px;
    bottom: 200px;
  left: 0px;
  width: 300px;
  border: 3px solid aqua;
  padding: 10px;
  overflow: hidden;
  animation: slide-right 10s
}
@keyframes slide-right {
  from {
  margin-left: 100%;}
}
to {
  margin-left: 0%;

}


.intro {
    position: fixed;
    
}

a[href*="http"] {
    color: aqua;
}

/*The Glass Castle Page*/
    
.glass {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-style: dashed;
    border-width: 20px;
    color: #3f2a2a;
    gap: 10px;   
}


/*The Liars' Club Page*/

img.club { 
    display: block;
    border-style: dashed;
    border-width: 20px;
    color: #3f2a2a;
}
/*both*/
h1.Title {
    text-decoration: underline;
    text-align: center;
}
h2.author {
    text-align: center;
}
h2 {
    color: aqua;
}

/*UI*/
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #433434;
    color: antiquewhite
  }

i.fa-solid {
    height: 50%;
    width: 50%;
}


