body {
    background-color: rgb(62, 62, 55);
    color: antiquewhite;
}
h1.Heading {
    text-decoration: underline;
}

img.author {
    border-radius: 50%;
}

a[href*="http"] {
    color: antiquewhite;
}

div.glass {
    border-style: dashed;
    border-width: 20px;
    color: #3f2a2a;
    
}
div.club { 
    border-style: dashed;
    border-width: 20px;
    color: #3f2a2a;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3f2a2a;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #433434;
    color: antiquewhite
  }
footer {
 color:aqua   
}
